# Ignore node_modules
node_modules

# Ignore build directories
dist
target

# Ignore configuration files 
*.env
*.local

# Ignore source control directories and files
.git
.gitignore

# Ignore temporary files and directories
tmp/
*.log
*.tmp
*.swp

# Ignore Dockerfile itself to avoid inadvertently excluding it
!Dockerfile

# General IDE ignores
*.idea
*.vscode

# Ignore system files
.DS_Store